@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-pill: rgba(255, 255, 255, 0.2);
  --color-pill-dark: rgba(151, 151, 151, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}
